REACT_APP_API_URL=http://localhost:5000/api
REACT_APP_PUB_URL=http://localhost:5000/pub
REACT_APP_WEB_URL=http://localhost:3000
REACT_APP_SCREENSHOT_COLLECTION=
REACT_APP_STRIPE_PUBLISHABLE_KEY=
REACT_APP_GA_TRACKING_ID=
